name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  generate:
    runs-on: ubuntu-latest
    steps:
      - id: alpine
        uses: actions-matrix/alpine-matrix-action@v1
        with:
          count: 10
    outputs:
      version: ${{ steps.alpine.outputs.version }}

  build:
    runs-on: ubuntu-latest
    needs: [generate]
    # continue-on-error: true
    strategy:
      fail-fast: false
      matrix:
        version: ${{ fromJson(needs.generate.outputs.version) }}
    steps:
      - uses: actions/checkout@v3

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@v4
        with:
          images: libreofficedocker/libreoffice-unoserver
          tags: type=raw,value=${{ matrix.version }}

      - name: Build and push
        uses: docker/bake-action@v3
        env:
          ALPINE_VERSION: ${{ matrix.version }}
        with:
          files: |
            docker-bake.hcl
            ${{ steps.meta.outputs.bake-file }}
          push: false
